.wpcf7 input::-webkit-input-placeholder,
.wpcf7 textarea::-webkit-input-placeholder{
	color:#5b564d;
}
.wpcf7 input:-ms-input-placeholder,
.wpcf7 textarea:-ms-input-placeholder{
	color:#5b564d;
}
.wpcf7 input:-moz-placeholder,
.wpcf7 textarea:-moz-placeholder{
	color:#5b564d;
	opacity:1;
}
.wpcf7 input::-moz-placeholder,
.wpcf7 textarea::-moz-placeholder{
	color:#5b564d;
	opacity:1;
}

.wpcf7 input.wpcf7-not-valid::-webkit-input-placeholder,
.wpcf7 textarea.wpcf7-not-valid::-webkit-input-placeholder{
	color:#fff;
}
.wpcf7 input.wpcf7-not-valid:-ms-input-placeholder,
.wpcf7 textarea.wpcf7-not-valid:-ms-input-placeholder{
	color:#fff;
}
.wpcf7 input.wpcf7-not-valid:-moz-placeholder,
.wpcf7 textarea.wpcf7-not-valid:-moz-placeholder{
	color:#fff;
	opacity:1;
}
.wpcf7 input.wpcf7-not-valid::-moz-placeholder,
.wpcf7 textarea.wpcf7-not-valid::-moz-placeholder{
	color:#fff;
	opacity:1;
}